h1{
    font-family: 'Lemonada', cursive;
    text-align: center;
    color: blue;
  }
  p{
    color:black;
    font-family: 'Arapey', serif;
    font-size: 20px;
  }
  body{
    /* background-color: coral; */
    /* background-image: url(/images/unnamed.jpg); */
    background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fmedia.istockphoto.com%2Fvectors%2Fdemocratic-republic-of-congo-flag-vector-id937875358%3Fk%3D20%26m%3D937875358%26s%3D612x612%26w%3D0%26h%3Dyu22DgH1YYMROgmto3Te7hsZ1tEdqZ8EJAadeByj9WQ%3D&imgrefurl=https%3A%2F%2Fwww.istockphoto.com%2Fphotos%2Fcongolese-flag&tbnid=J59EF6t2WDmRxM&vet=12ahUKEwij1vrj4Zj0AhXX0YUKHSuUB84QMygAegUIARDcAQ..i&docid=zrY5ATi16hckFM&w=612&h=459&itg=1&q=congolese%20wallpapers&ved=2ahUKEwij1vrj4Zj0AhXX0YUKHSuUB84QMygAegUIARDcAQ);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
  }
  .container{
    position: relative;
    max-width: 800px;
    margin: 0;
  }
  @media screen and (min-width:480px) and (max-width:600px){
    body{
      background-color: brown;
      color: cadetblue;
    }
  }